<style>
    .drink {
        margin-bottom: 20px;
        /* Adjust the value as needed for more or less spacing */
    }

    .card-header {
        margin-bottom: 20px;
        /* Adjust the value as needed for more or less spacing */
    }
</style>

{{!--Tyler: I'm adding the style up here for now for testing purposes. This could be accomplished in CSS. --}}

<div class="drink-container">
    <div class="card-header">
        <h2>
            Cocktails
        </h2>
    </div>
    {{#each cocktail as |cocktailItem|}}
    <div class="cocktail">
        <p class="drink_name-and-price">
            {{cocktailItem.drinkName}} - ${{cocktailItem.price}}
        </p>
        <p class="description">
            {{cocktailItem.description}}
        </p>
        {{/each}}
    </div>

    {{!-- &nbsp; is a non breaking space --}}