<div class="order-container">
    <div class="card-header col-md-10">
        <h2>
            &#127869 Place Order for Pick-Up
        </h2>
    </div>
    {{#each menu as |menu|}}
    <div class="dish col-md-5">
        <p>
            {{menu.menu_item}}
            {{menu.price}}
        </p>
        </p>
        {{#if has_nuts}}
        <p class="has-nuts">
            Contains Nuts
        </p>
        {{/if}}
        </p>
        {{#if has_dairy}}
        <p class="has_dairy">
            Contains Dairy
        </p>
        {{/if}}
        </p>
        {{#if vegetarian}}
        <p class="vegetarian">
            Vegetarian Option
        </p>
        {{/if}}
        </p>
        {{#if gluten_free}}
        <p class="gluten_free">
            Gluten Free Option
        </p>
        {{/if}}
        <div>
            <label for="itemQty">Quantity:</label>
            <select id="itemQty" name="itemQty" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    {{/each}}
    <div>
        <p>Subtotal</p>
        <p id="orderSubtotal"></p>
        {{!-- ^^giving the above an id so it can be populated.  Item price * quantity SUM all formula in JS --}}
    </div>
     <div>
        <p>Tax</p>
        <p id="orderTax"></p>
        {{!-- ^^giving the above an id so it can be populated.  Subtotal * 6.875% formula in JS --}}
    </div>
    <div>
        <p>Tip</p>
         <input type="text" name="orderTip" id="orderTip" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$0.00"> 
        {{!-- ^^There's no currency input type in HTML.  This is a commonly used pattern. 
        Keep in mind it will be a string though.  May need to parseInt on the back end.
        This data isn't necessary to keep either for the purposes of our project - TP
         --}}
    </div>
    <div>
        <p>TOTAL</p>
        <p id="orderTotal"></p>
        {{!-- ^^giving the above an id so it can be populated.  subtotal + tax + tip formula in JS --}}
    </div>
</div>