<div class="order menu-content" align="center">
    <div class="card-header pacifico-regular" style="font-size: 50px;">
       Takeout Menu
      </h2>
    </div>

<div class="order-container">
    <div class="card-header text-center">
        <h2>
            Place Order for Pick-Up
        </h2>
    </div>
     <div class="row">
    {{#each order as |order|}}
    <div class="col-md-4 dish mx-auto text-center">
      <!-- col-md-4: Each card will take up 4 columns on medium and larger screens -->
      <p class="item-and-price">
        <div class="orderItemName">{{order.menu_item}}</div>
        <div class="orderPrice">{{order.price}}</div>
      </p>
      <p class="additional-info">
        {{#if order.has_nuts}}
          <span class="info">Contains Nuts</span>&nbsp;&nbsp;&nbsp;
        {{/if}}
        {{#if order.has_dairy}}
          <span class="info">Contains Dairy</span>&nbsp;&nbsp;&nbsp;
        {{/if}}
        {{#if order.vegetarian}}
          <span class="info">Vegetarian Option</span>&nbsp;&nbsp;&nbsp;
        {{/if}}
        {{#if order.gluten_free}}
          <span class="info">Gluten Free Option</span>&nbsp;&nbsp;&nbsp;
        {{/if}}
      </p>
      <div>
        <label for="itemQty">Quantity:</label>
        <select class="itemQty" name="itemQty" required>
          <option value="null">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
        </select>
      </div>
    </div>
    {{/each}}
</div>
    <div class="row text-center">
        <p>Subtotal</p>
        <p id="orderSubtotal"></p>
        {{!-- ^^giving the above an id so it can be populated.  Item price * quantity SUM all formula in JS --}}
     <div>
        <p>Tax</p>
        <p id="orderTax"></p>
        {{!-- ^^giving the above an id so it can be populated.  Subtotal * 6.875% formula in JS --}}
    </div>
    <div>
        <p>Tip</p>
         <input type="number" name="orderTip" id="orderTip" value="" data-type="currency" placeholder="$0.00"> 
    </div>
    <div>
        <p>TOTAL</p>
        <p id="orderTotal"></p>
        {{!-- ^^giving the above an id so it can be populated.  subtotal + tax + tip formula in JS --}}
    </div>
    <div>
        <input type="submit" id="orderForm" value="Submit" />
        {{!-- <button class="btn btn-primary" id="orderForm" type="submit">Submit</button> --}}
    </div>
</div>

<script src="js/order.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>