<h2>Book a reservation!</h2>
<p>Interested in reserving a table for a special occasion? Feel free to use the form below. Please provide your date, time table size, and any additional notes you have!</p>


<input type="date" name="reservationDate" required>
<label for="reservedTime">Select Time:</label>
<select id="reservedTime" name="tableSize" required>
 <option value="5:00">5:00</option>
  <option value="5:30">5:30</option>
  <option value="6:00">6:00</option>
  <option value="6:30">6:30</option>
   <option value="7:00">7:00</option>
  <option value="7:30">7:30</option>
  <option value="8:00">8:00</option>
  <option value="8:30">8:30</option>
   <option value="9:00">9:00</option>
      <option value="9:30">9:30</option>

</select>

<label for="tableSize">Table Size:</label>
<select id="tableSize" name="tableSize" required>
 <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
   <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
   <option value="9">9</option>
  <option value="10">10</option>

</select>

</form>

<input type="text" name="notes" placeholder="notes" required>


<!-- Below is a placeholder post request function provided to me by Andrew. In a later push I will be implementing this function in the js file.


form.addEventListener('submit', async function(event) {
  //gather data from form


const resp = await fetch("/api/signup", {
    method: "POST",
    body: JSON.stringify({
      fname: "gary",
      lname: "almes"
    }),
    headers: {
      "Content-Type": "application/json"
    }
  })
  const data = resp.json
  console.log(data)
})

Header, reservations
<button id="reservatonSubmit" type="submit">Submit</button>

