<div class="order-container">
    <div class="card-header text-center" style="margin-top: 80px;">
        <h2 class="pacifico-regular" style="font-size: 50px;">
            Thank you for your Order
        </h2><br>


<div class="d-flex container-fluid flex-wrap-column flex-md-row flex-column">
    <div class="d-flex text-center">
         <p class="kanit-medium" style="font-size: 50px;">
            Your order number is: {{ order.id }}
        </p>
         <p class="kanit-medium" style="font-size: 50px;">
            Your order of:
        <br>
        <p>
            Your order of:
        </p>
        <br>
        {{#each order.items}}
         <p class="kanit-medium" style="font-size: 50px;">{{this.menu_name}} X {{this.quantity}}</p>
        {{/each}}

         <p class="kanit-medium" style="font-size: 50px;">
            Your order will be ready in about 30 minutes. Please see the host for payment and pickup!
        </p>
        <br>
        <button type="button" id="home-btn">Back to Homepage</button>
    </div>
</div>
</div>
<script src='./js/thank-you.js'></script>